{% extends "user/layout/movie.html" %}
{% load custom_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
   <style>
    .card-block {
        font-size: 1em;
        position: relative;
        margin: 0;
        padding: 1em;
        border: none;
        border-top: 1px solid rgba(34, 36, 38, .1);
        box-shadow: none;
        
    }
    .comment  .list-group-item{
      border: none;
      padding: 0rem 0rem;
    }
    .comment  .list-group-item  .content{
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 0.75rem 1.25rem;
    }
   </style>
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-8 ">
            <div class="card" >
                <div class="card-header d-flex justify-content-center">
                    <img class="card-img-top" style="max-width:400px" src="{{post.image}}" alt="Card image cap">
                </div>
                
                <div class="card-body">
                  <p class="card-text">{{post.name}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><strong>Rate:</strong><span class="mx-2">{{post.rate}}</span></li>
                  <li class="list-group-item"><strong>Genre:</strong><span class="mx-2">{{post.genre}}</span></li>
                  <li class="list-group-item"><strong>Duration:</strong><span class="mx-2">{{post.duration}}</span></li>
                  <li class="list-group-item"><strong>Star Cast:</strong><span class="mx-2">{{post.starcast}}</span></li>
                  <li class="list-group-item"><strong>Language:</strong><span class="mx-2">{{post.lang}}</span></li>
                  <li class="list-group-item"><strong>Release Date:</strong><span class="mx-2">{{post.release_date}}</span></li>
                  <li class="list-group-item"><strong>Film Story:</strong><span class="mx-2">{{post.story}}</span></li>
                  <li class="list-group-item d-flex justify-content-center">
                    <img class="card-img-top" style="max-width:800px" src="https://1.bp.blogspot.com/-t77W_ET6W9E/YM1zuddffgI/AAAAAAAAAXw/TE8_B96aTEMivVHjHYuS39yKxDCnwEL2gCLcBGAsYHQ/s2048/onward%2Bscr.png" alt="Card image cap">
                  </li>
                </ul>

                <div class="card-body row" id="link-container"></div>
            </div>

          </div>
      


           <div class="col-md-12 col-sm-12 col-lg-4">
            <div class="container">
              <div class="row" id="trands">
               
                {% for t in Trands %}
                  <div class="col-md-6 col-sm-12 col-lg-12">
                    <div class="card float-left my-2">
                      <div class="row ">

                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-7 ">
                              <div class="card-block">                          
                                  {% if t.type == 2 %}                        
                                    <a class="card-text" href="{{baseUrl}}{{t.name|plusify}}">{{t.name}}</a>
                                  {% else %}
                                    <a class="card-text" href="{{baseUrl}}detail/{{t.name|plusify}}">{{t.name}}</a>
                                  {% endif %}
                              </div>
                            </div>
                            <div class="col-5">
                              <img class="d-block w-100" src="{{t.image}}" alt="">
                            </div>
                        {% else %}
                            <div class="col-5">
                              <img class="d-block w-100" src="{{t.image}}" alt="">
                            </div>
                            <div class="col-7">
                              <div class="card-block">
                                
                                  {% if t.type == 2 %}                        
                                    <a class="card-text" href="{{baseUrl}}{{t.name|plusify}}">{{t.name}}</a>
                                  {% else %}
                                    <a class="card-text" href="{{baseUrl}}detail/{{t.name|plusify}}">{{t.name}}</a>
                                  {% endif %}
                              </div>
                            </div> 
                        {% endif %}     
                      </div>
                    </div>
                  </div>
                {% endfor %}
                 
              </div>   
            </div>    
           </div>

       </div>
        
 
    </div>
   

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){

    let links = [];
    {% if post %}
        links = {{post.link|safe}} 
    {% endif %} 
    links?.forEach(function(ele){
        console.log(ele)
        $('#link-container').append(`<a href="${ele.url}" class="btn btn-primary col-12 my-2" >${ele.download}</a>`)
    })
      
  })


</script>


{% endblock %}