<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"  >
  </head>
  <body>
    {% block start %}

    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" ></script>
    <script>
    /*
      $(document).ready(function(){
        
        $('#auth-form').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: "",
                method:"POST",
                data: $(this).serialize(),
            }).then ( function( json, textStatus, jqXHR ) {
                console.log(json)
                if(json.success){
                  location.reload(true);
                }
            });

           

            $.ajax({
              url: "{{ settings.BASE_URL }}", 
              method: 'POST', 
              data: $(this).serialize(),
              dataType: 'json', 
              success: function(response) {
                  console.log(response)
                  if(response.success){
                    location.reload(true);
                  }    
              },
              error: function(xhr, status, error) {
                console.error('Error:', error);
              },
              complete: function() {
                console.log('Request complete.');
              }
            });
          

        })
       

      })
    */
    </script>
  </body>
</html>