
{% extends "master/layout/admin.html" %}


{% block content %}
<div class="container d-flex justify-content-center">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
<div class="container mt-2">
    <div class="action">
        {{action.add|safe }}
    </div>
    <div class="row">
        <div class="col-12">
            <table id="customer_table"  class="display table" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
  
                </tbody>
            </table>
        </div>

      </div>
  
</div>

<div class="modal fade" id="AddModel" tabindex="-1" role="dialog" aria-labelledby="AddModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method="POST" >
        {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="AddModelTitle">Modal Add</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <input class="form-control" name="menu" placeholder="Menu name" />
                </div>
                <div class="form-group">
                    <label class="form-label">Type</label>
                    <select class="form-select" name="type">
                        <option selected value="1">file</option>
                        <option value="2">folder</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Link</label>
                    <input class="form-control" name="link" placeholder="link" />
                </div>
                <div class="form-group">
                    <label class="form-label">Icon</label>
                    <input class="form-control" name="icon" placeholder="icon" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="EditModel" tabindex="-1" role="dialog" aria-labelledby="EditModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method="post" >
        {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="EditModelTitle">Modal Edit</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit-form">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    $(document).ready( function () {
        loadData()
    })

    function editModal(id){
        $.ajax({
            url: "{{ settings.BASE_URL }}",
            method:"PATCH",
            headers: {'X-CSRFToken': csrftoken},
            contentType: 'application/json',
            data:JSON.stringify({id:id})
        }).then ( function( json, textStatus, jqXHR ) {
            if(json.status){
            $('#edit-form').html(json.html);
            $('#EditModel').find('form').attr('action',json.action)
            $('#EditModel').modal('show')
            }

        });

    }


    function loadData(){
        var pgno = 0;
        $('table.display').DataTable({
            "processing" : true,
            "serverSide" : true,
            pageLength : 25,
            ajax: function (data, callback, settings) {
                var api = this.api();
                var search = api.search() 
                var pageInfo = api.page.info();
                pgno = pageInfo.page+1;
                
                $.ajax({
                    url: "{{ settings.BASE_URL }}",
                    method:"PUT",
                    data: JSON.stringify({
                        start: pgno,
                        length: 25,
                        search: search,
                        type: 'View'
                    }),
                }).then ( function( json, textStatus, jqXHR ) {
                    console.log(json)
                    callback(json);
                });
            },
            columns: [
                { data: "id" },
                { data: "name" },
                { data: "action" },
            ],
            
        });
    }

    function deleteModal(id){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },function(isConfirm){
            if (isConfirm) {
                $.ajax({
                    url: '{{ settings.BASE_URL }}', // Replace with your server endpoint
                    method: 'PATCH',
                    data: JSON.stringify({id:id}),
                    headers: {'X-CSRFToken': csrftoken},
                    contentType: 'application/json',
                    success: function(response) {
                        console.log(response)
                        if(response.status){
                            // $('table.display').DataTable().clear().destroy();
                            // loadData()
                            $('table.display').DataTable().ajax.reload();
                        }
                    },
                    error: function(xhr) {
                        console.error('Error submitting form:', xhr.responseText);
                    }
                }); 
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");

            } else {
                //swal("Cancelled", "Your imaginary file is safe :)", "error");
            }
            swal.close();
        });
    }

</script>

{% endblock %}