
{% extends "master/layout/admin.html" %}


{% block content %}

<div class="container mt-2">
    <div class="action">
        {{action.add|safe }}
    </div>
    <div class="row">
        <div class="col-12">
            <table id="customer_table"  class="display table" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
  
                </tbody>
            </table>
        </div>

      </div>
  
</div>

<script>

    $(document).ready( function () {
        loadData()
    })


    function loadData(){
        var pgno = 0;
        $('table.display').DataTable({
            "processing" : true,
            "serverSide" : true,
            pageLength : 25,
            ajax: function (data, callback, settings) {
                var api = this.api();
                var search = api.search() 
                var pageInfo = api.page.info();
                pgno = pageInfo.page+1;
                
                $.ajax({
                    url: "{{ settings.BASE_URL }}",
                    method:"PUT",
                    data: JSON.stringify({
                        start: pgno,
                        length: 25,
                        search: search,
                        type: 'View'
                    }),
                }).then ( function( json, textStatus, jqXHR ) {
                    console.log(json)
                    callback(json);
                });
            },
            columns: [
                { data: "id" },
                { data: "name" },
                { data: "action" },
            ],
            
        });
    }

    function deleteModal(id){
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },function(isConfirm){
            if (isConfirm) {
                $.ajax({
                    url: '{{ settings.BASE_URL }}', // Replace with your server endpoint
                    method: 'PATCH',
                    data: JSON.stringify({id:id}),
                    headers: {'X-CSRFToken': csrftoken},
                    contentType: 'application/json',
                    success: function(response) {
                        console.log(response)
                        if(response.status){
                            // $('table.display').DataTable().clear().destroy();
                            // loadData()
                            $('table.display').DataTable().ajax.reload();
                        }
                    },
                    error: function(xhr) {
                        console.error('Error submitting form:', xhr.responseText);
                    }
                }); 
                //swal("Deleted!", "Your imaginary file has been deleted.", "success");

            } else {
                //swal("Cancelled", "Your imaginary file is safe :)", "error");
            }
            swal.close();
        });
    }

</script>

{% endblock %}